
div#header
{
    background-color: #808080;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

div#cloud10
{
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

div#editors
{
    background-color: #808080;
    height: 470px;
}

div#slogan
{
    float: left;
    padding: 25px 0px 0px 15px;
    font-size: 15px;
    font-style: italic;
}

div#toolbarDivID
{
    background-color: #B0B0B0;
    width: 100%;
    height: 30px;
    height: 30px;
    color: #ffffff;
}

div#controlsDivID
{
    background-color: #F0F0F0;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

div#projectTreeDivID
{
    float: left;
    height: 500px;
    width: 200px;
    background-color: #222222;
}

div#taps
{
    height: 30px;
    background-color: #9acd32;
}

div#tapsbody
{
    width: 100%;
    height:25px;
    padding-left: 30px;
}
div#tapsfooter
{
    height: 5px;
    background-color: #a9a9a9;
}

.tap
{
    height: 20px;
    /*width: 100px;*/
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: yellow;*/
    float: left;
    margin-left: -23px;
    margin-top: 5px;
    text-align: center;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tapname
{
    height: 20px;
    /*width: 70px;*/
    float: left;
    margin-left: 5px;
}

.tapclosebutton
{
    height: 15px;
    width: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    background-color: red;
}

.tapclosebutton:hover
{
    background-color:green;
}

.tapfilefolderid
{
    display: none;
    height: 20px;
    float: left;
}

.openedtap
{
    /*background-color: #00008b;*/
    color: #ffffff;
}

.tap:hover
{
    /*background-color: orange;*/
    cursor: pointer;
}

.tap_left
{
    background: url('images/left-tap-border.png') no-repeat;
    width: 7px;
    height: 20px;
    float: left;
}
.tap_mid
{
    background: url('images/mid-tap-border.png') repeat-x;
    /*width: 70px;*/
    height: 20px;
    float: left;
}

.tap_right
{
    background: url('images/right-tap-border.png') no-repeat;
    width: 27px;
    height: 20px;
    float: left;
}

div#runButton
{
    /*
    background-image: url('images/Play.png');
    */
}

div#projectTreeButtons
{
    width: 200px;
    height: 25px;
    background-color: #B0B0B0;
    position: relative;
    overflow: hidden;
}
.miniButton
{
    float: right;
    height: 15px;
    width: 15px;
    margin: 5px 2px 5px 2px;
    background-color: #808080;
    cursor: pointer;
}

.toolBarButton
{
    float: left;
    height: 25px;
    margin: 7px 5px 5px 5px;
    padding: 2px 3px 0px 3px;
    cursor: pointer;
    background-color: green;
}

.toolBarButton:hover
{
    float: left;
    height: 25px;
    margin: 7px 5px 5px 5px;
    padding: 2px 3px 0px 3px;
    background-color: #90ee90;
    cursor: pointer;
}

div#projectTreeView
{
    width: 200px;
    height: 475px;
    background-color: #ffffff;
    overflow: scroll;
}

div#codeAreaDivID
{
    float: left;
    width: 1150px;
}

.rounded-corners
{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 3px;
}

.file_folder_id
{
    color:#777777;
    height: 15px;
    display: none;
}

.treeItemName:hover
{
    background-color: #808080;
    cursor: pointer;
}

.selected
{
    background-color: orange;
}

.treeItem
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.CloseButton:hover
{
    background-color: #808080;
}

.treeItemOpenButton:hover
{
    background-color: #808080;
}

div#editors
{
    background-color: #808080;
    height: 450px;
    width: auto;
}

.editor_container_outer
{
    display: none;
    height: 40px;
    background: yellow;
}

